:root {
    --wrapper-background: #313338ff;
    --element-background: #3b3d44;
    --element-hover: #4bffaa;
    --element-active-border: #4bffaaff;
    --color-accent: #23aa7d;
    --color-accent-hover: #4bffaa;
    --color-accent-active: #00cd87;
    --color-confirm: #4bffaaff;
    --color-deny: #ffabab;
    --color-secondary: #ABABAB;
    --color-btn: #323232;
    --color-btn-warn: #C58F05;
    --color-btn-secondary: rgb(0, 30, 138);
    --color-btn-primary: #1664BE;
    --color-btn-border: #656d78ff;
    --color-btn-text: #FFFFFF;

    --standard-text-color: #b5bac1ff;
    --standard-font-family: Droid Sans;
    --font-size-nrm: 25px;
    --font-size-big: 30px;
    --font-size-bigger: 45px;
    --font-size-biggest: 55px;
    --font-color-dark: #000000;

    --container-border-radius: 50px;
    --button-border-radius: 50px;

    --home-background: #333333;
    --panel-border-color: #1664BE;
    --panel-sub-border-color: rgba(0, 0, 0, 0.25);
    --panel-font-color: #b5bac1ff;
    --panel-sub-font-color: #8d98a4ff;
}